auto_compile/data/insts/*
auto_compile/data/onnx/*
auto_compile/data/dse_reports/*
auto_compile/data/pre_dse_models/*
auto_compile/data/post_dse_architectures/*
auto_compile/data/post_dse_models/*
auto_compile/data/tests/*
designs/*